# Intro to Dataframe in Pandas

In [38]:
import pandas as pd

In [39]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=["A", "B", "C"], index=["X", "Y", "Z"])
# Columns untuk memberikan header untuk tiap columns
# index untuk memberikan header untuk tiap rows
df

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [40]:
# Untuk memunculkan 5 Rows di dataset dari atas
df.head()

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [41]:
# Dengan menambahkan angka di parameter head()
# Maka hanya akan memunculkan jumlah rows sesuai angka yang diinput
df.head(2)

   A  B  C
X  1  2  3
Y  4  5  6

In [42]:
# Akan memunculkan 5 rows dari bawah
# Dan sifatnya sama seperti head() hanya bedanya dia dari bawah
df.tail()

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [43]:
# df.columns untuk melihat header colums
df.columns.to_list()

['A', 'B', 'C']

In [44]:
# df.index untuk melihat headers rows
df.index.to_list()

['X', 'Y', 'Z']

In [45]:
# Memberikan informasi tentang dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [46]:
# Untuk mendapatkan informasi yang ada dioutput untuk tiap columns
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [47]:
# df.shape untuk melihat ukuran matrix
list(df.shape)

[3, 3]

In [48]:
# Memberikan informasi jumlah data yang unique dari dataset
df.nunique()

A    3
B    3
C    3
dtype: int64

In [49]:
# Memunculkan data yang unique dari sebuah columns
df['A'].unique()

array([1, 4, 7])